
h1{
    text-align: center;
}
/*.main{
    width: 700px;
    margin: auto;
   //* border: 50px solid #bdc3c7;*/
    padding: 20px;
}
.date{
    font-weight: bold ;
    letter-spacing: 0em;
    padding-bottom: 10px;
    color: darkcyan;
}
.para1{
    border-left: 5px solid gray;
    padding-left: 5px;
}
.footer{
    text-decoration: underline;
}
.navbar{
	
    background-color: #D32F2F !important;
}
.nav-link{

	 
    font-weight:bold !important;
    font-size: 20px;
    color: #FFFFFF !important;


}
@media screen and (min-width:600px){
    p{
        font-size: 1.25rem;
    }
}
@media screen and  (max-width:900px){
    p{
        font-size: 1.5rem;
    }
}